*~$rshrutka_2024_snegovskaya.doc
*.gz
*.bbl
*.blg
latex-report/Gvandra2024_Snegovskaya.synctex.gz
*.log
*.aux
*tmp
*.out
*.toc
*.psd
*/Gvandra2024_Snegovskaya.pdf
*.fls
*.pdf
*.fdb_latexmk
latex-report/spravki/tmpb23hfvqx
*.bcf
*.xml
*.nav
*.vrb
*.snm